   
<h2 mat-dialog-title> Update Transaction</h2>

<div mat-dialog-content>
    <form [formGroup]="updateTransactionForm">
    <mat-form-field class="container-fluid">
        <mat-label>Customer</mat-label>
        <mat-select formControlName="customerId">
            <mat-option *ngFor="let c of customers" [value]="c.value" >
            {{c.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="container-fluid">
        <mat-label>Product</mat-label>
        <mat-select formControlName="productId">
            <mat-option *ngFor="let p of products" [value]="p.value">
            {{p.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="container-fluid">
        <mat-label>Status</mat-label>
        <mat-select formControlName="transactionStatus">
            <mat-option *ngFor="let t of transactionSelect" [value]="t.value">
            {{t.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    

    <mat-form-field class="container-fluid">
        <mat-label>Quantity</mat-label>
        <input 
            matInput 
            formControlName="quantity"
            type="number"
            >
    </mat-form-field>
        
  
    
    </form>
</div>
<div mat-dialog-actions>
    <button [mat-dialog-close] mat-button>
        Close
    </button>
    <button 
        mat-raised-button color="primary"
        [disabled]="!updateTransactionForm.valid || loading"
        (click)="update()"
        >
            <mat-spinner
                class="float-left mr-2"
                *ngIf="loading"
                [diameter]="25"
            ></mat-spinner>
            Update
        
    </button>
</div>


