
  <mat-sidenav-container fullscreen>
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list *ngIf="isAuthenticated">
        <a mat-list-item routerLink='/dashboard'>Dashboard</a>
        <a mat-list-item routerLink='/product'>Product</a>
        <a mat-list-item routerLink='/customer'>Customer</a>
      </mat-nav-list>
      <mat-nav-list  *ngIf="!isAuthenticated">
        <a mat-list-item routerLink='/login'>login</a>
        <a mat-list-item routerLink='/register'>register</a> 
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <mat-toolbar-row>
              <button aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <span>Item Shop</span>
              <span class="spacer"></span>
              <div  *ngIf="isAuthenticated">
                <button mat-raised-button (click)="logout()">logout</button>
              </div>
            </mat-toolbar-row>
          </mat-toolbar>
       <div class="container">
        <router-outlet></router-outlet>
       </div>
    </mat-sidenav-content>
  </mat-sidenav-container> 

 
  

