<div class="container-fluid p-3">

    <h1>Welcome {{username}}</h1>

    <div class="row">
        <div class="col-4">
            <mat-card [style.backgroundColor]="'#4b87a6'" class="text-white">
                <mat-card-header >
                    <mat-card-title>Products</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <div *ngIf="productCount">
                        <h2>{{productCount}}</h2>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-4">
            <mat-card [style.backgroundColor]="'#4ba64f'" class="text-white">
                <mat-card-header >
                    <mat-card-title>Customers</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <div *ngIf="customerCount">
                        <h2>{{customerCount}}</h2>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-4">
            <mat-card [style.backgroundColor]="'#6b0121'" class="text-white">
                <mat-card-header >
                    <mat-card-title>Pending Transactions</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <div *ngIf="pendingTransactions">
                        <h2>{{pendingTransactions}}</h2>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <mat-card [style.backgroundColor]="'#cbd177'" class="text-white">
                <mat-card-header >
                    <mat-card-title>Completed Transactions</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <div *ngIf="completeTransactions">
                        <h2>{{completeTransactions}}</h2>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-4">
            <mat-card [style.backgroundColor]="'#6e60b5'" class="text-white">
                <mat-card-header >
                    <mat-card-title>Invoices</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <div *ngIf="invoiceCount">
                        <h2>{{invoiceCount}}</h2>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>


       
    </div>

</div>
