<div class="container-fluid mt-5">
   
                <mat-card class="card">
                    <mat-card-header>
                      <mat-card-title>Update Customer</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <form [formGroup]="custUpdateForm" 
                            (ngSubmit)="update(customer.id)">
                            <mat-form-field class="full-width">
                                <mat-label>Name</mat-label>
                                <input 
                                    matInput 
                                    formControlName="name"
                                   >
                            </mat-form-field>
                        
                            <mat-form-field class="full-width">
                                <mat-label>Address</mat-label>
                                <input 
                                    matInput 
                                    formControlName="address"
                                    >
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Phone</mat-label>
                                <input 
                                    matInput 
                                    formControlName="phone"
                                    >
                            </mat-form-field>

                            <div class="full-width">
                                <mat-label>Gender</mat-label><br><br>
                                <mat-radio-group aria-label="Select an option" formControlName="gender">
                                    <mat-radio-button value="0">Unknown</mat-radio-button><br>
                                    <mat-radio-button value="1">Male</mat-radio-button><br>
                                    <mat-radio-button value="2">Female</mat-radio-button><br>
                                </mat-radio-group>
                            </div>
<br>
                            <button mat-button routerLink="/customer" class="mr-3">
                                Cancel
                            </button>
                            
                            <button 
                                mat-raised-button color="primary"
                                [disabled]="!custUpdateForm.valid || loading"
                                >
                                    <mat-spinner
                                        class="float-left mr-2"
                                        *ngIf="loading"
                                        [diameter]="25"
                                    ></mat-spinner>
                                    Update
                               
                            </button>
                            
                            
                      </form>
                    </mat-card-content>
                </mat-card>
           
</div>
