/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width{
    width:100%;
}
mat-sidenav {
    width: 200px;
}

.spacer {
    flex: 1 1 auto;
}

.card-container{
    margin-top: 20%;
}

th.mat-sort-header-sorted {
    color: black;
}
table{
    width: 100%;
}
